.body {
    width: 120px;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.taken-room {
    background-color: rgb(213, 49, 49);
}

.free-room {
    background-color: rgb(59, 122, 59);
}